html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*стикеры
*/

/* body {
         font-family: arial, sans-serif;
         font-size: 100%;
         margin: 3em;
         background: #666;
         color: #FFF;
     }*/

.sticker-h2, .sticker-p {
    font-size: 100%;
    font-weight: normal;
}

.sticker-ul, .sticker-li {
    list-style: none;
}

.sticker-ul {
    overflow: hidden;
    padding: 3em;
}

.sticker-ul .sticker-li .sticker-a {
    text-decoration: none;
    color: #000;
    background: #FFC;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;

    text-decoration: none;
    color: #000;
    background: #FFC;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1); /* для Firefox Грозного */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 7); /* да для люда обычного, праведного */
    -box-shadow: 5px 5px 7px rgba(33, 33, 33, 7); /* и про Оперушку не забудем*/
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);

    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

.sticker-ul .sticker-li {
    margin: 1em;
    float: left;
}
.sticker-ul .sticker-li .sticker-h2 {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 2px;
}

.sticker-ul .sticker-li .sticker-p {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 180%;
}

.sticker-ul .sticker-li:nth-child(even) .sticker-a{
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}
.sticker-ul .sticker-li:nth-child(3n) .sticker-a{
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}
.sticker-ul .sticker-li:nth-child(5n) .sticker-a{
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #e57373;
}
.sticker-ul .sticker-li .sticker-a:hover,.sticker-ul .sticker-li .sticker-a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}
.sticker-img {
    width: 80%;
}

/*конец стикерам
*/